@model Trabalho.Models.TuristAnswer

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>TuristAnswer</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="SurveyNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SurveyNumber" class="form-control" />
                <span asp-validation-for="SurveyNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TuristAnswerName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TuristAnswerName" class="form-control" />
                <span asp-validation-for="TuristAnswerName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AnswerDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AnswerDate" class="form-control" />
                <span asp-validation-for="AnswerDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="QuestionsID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="QuestionsID" class ="form-control" asp-items="ViewBag.QuestionsID"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TuristID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="TuristID" class ="form-control" asp-items="ViewBag.TuristID"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

