@model IEnumerable<Trabalho.Models.TuristAnswer>

@{
    ViewData["Title"] = "Details";
}




    @if (Model.Count() != 0)
    {



        <h2 style="font-size:50px;padding-top:100px;color:chocolate">As suas respostas</h2>


<table class="table-condensed">
    <thead>
        <tr>
            <th>
               <h3 style="color:chocolate">Pergunta</h3> 
            </th>
            <th>
                <h3 style="color:chocolate">Resposta selecionada</h3>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
        <td><h3>@Html.DisplayFor(modelItem => item.Answer.Questions.QuestionsToClient)</h3></td>


        <td>
            <h3>@Html.DisplayFor(modelItem => item.Answer.PossibleAnswer)</h3>
        </td>

            <tr></tr>

            <!--<td>
                <a asp-action="Edit" asp-route-id="item.TuristAnswerID">Edit</a> |
                <a asp-action="Details" asp-route-id="item.TuristAnswerID">Details</a> |
                <a asp-action="Delete" asp-route-id="item.TuristAnswerID">Delete</a>
            </td>-->

        }
        </tbody>
    </table>

 
    int dificuldade1 = 0;
    int dificuldade2 = 0;
    int dificuldade3 = 0;

    @foreach (var item in Model)
    {
        if (item.Answer.DifficultyID == 1)
        {
            dificuldade1++;

        }else if (item.Answer.DifficultyID == 2)
        {
            dificuldade2++;

        }
        else
        {
            dificuldade3++;

        }

    }

       
    <form asp-action="DeleteConfirmed">
        <button type="submit" name="id" value="2" class="btn btn-more" asp-action="Delete">Apagar as suas respostas</button>
    </form>
       
    

@if ((dificuldade1 > dificuldade2) && (dificuldade1 > dificuldade3))
{
    <form asp-action="ShowTrails">
        <button type="submit" name="dificuldade" value="1" class="btn btn-more" asp-action ="ShowTrails">Mostrar trilho mais adequado com as suas respostas</button>
        
    </form>

}else if ((dificuldade2 > dificuldade1) && (dificuldade2 > dificuldade3))
{
    <form asp-action="ShowTrails">
        <button type="submit" name="dificuldade" value="2" class="btn btn-more" asp-action="ShowTrails">Mostrar trilho mais adequado com as suas respostas</button>
        
    </form>

}else if ((dificuldade3 > dificuldade1) && (dificuldade3 > dificuldade2))
{
    <form asp-action="ShowTrails">
        <button type="submit" name="dificuldade" value="3" class="btn btn-more" asp-action="ShowTrails">Mostrar trilho mais adequado com as suas respostas</button>
        
    </form>

}
        }
        else
        {
            <label>Nao tem de momento nenhuma resposta guardada por favor <a asp-area="" asp-controller="TuristAnswers" asp-action="Create">clique aqui </a> para responder ao nosso questionario ou clique na opcao de responder questionario do menu</label>

        }

    
    
    <div id="fillbackground">
    </div>