@model Trabalho.Models.TuristAnswer

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>TuristAnswer</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="TuristAnswerID" />
        <div class="form-group">
            <label asp-for="SurveyNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SurveyNumber" class="form-control" />
                <span asp-validation-for="SurveyNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AnswerDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AnswerDate" class="form-control" />
                <span asp-validation-for="AnswerDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TuristID" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="TuristID" class="form-control" asp-items="ViewBag.TuristID"></select>
                <span asp-validation-for="TuristID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AnswerID" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="AnswerID" class="form-control" asp-items="ViewBag.AnswerID"></select>
                <span asp-validation-for="AnswerID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

