<!--model IEnumerable<Trabalho.Models.TuristAnswer>-->
@model QuestionListViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    Pergunta
                </th>
                <th>
                    Resposta 1
                </th>
                <th>
                    Resposta2
                </th>
            <th>
                Resposta 3
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Questions)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.QuestionsToClient)
                </td>
            </tr>
            <tr></tr>
        }

        @foreach (var item2 in Model.TypeAnswer)
        {
        <td>
            @Html.DisplayFor(modelItem => item2.PossibleAnswer)
        </td>

        }
    </tbody>
</table>
