@model Trabalho.Models.Parameters

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Parameters</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ParametersID" />
        <div class="form-group">
            <label asp-for="AllowedAnswer" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AllowedAnswer" class="form-control" />
                <span asp-validation-for="AllowedAnswer" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="QuestionsID" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="QuestionsID" class="form-control" asp-items="ViewBag.QuestionsID"></select>
                <span asp-validation-for="QuestionsID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DifficultyID" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="DifficultyID" class="form-control" asp-items="ViewBag.DifficultyID"></select>
                <span asp-validation-for="DifficultyID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

