@model Trabalho.Models.Ans_For_Que

@{
    ViewData["Title"] = "PageCreate";
}

<h2>PageCreate</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Ans_For_Que</h4>
        <hr />
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Question)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Question.QuestionToClient)
                </dd>
   
            </dl>
        </div>

        <div class="form-group">
            <label asp-for="Type_AnswerID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Type_AnswerID" class="form-control" asp-items="ViewBag.Type_AnswerID"></select>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
