@model Trabalho.Models.Questions

@{
    ViewData["Title"] = "Delete";
}

<h2 style="color:chocolate;">Eliminar Inquerito</h2>
<h3 style="color:chocolate;">Tem a certeza que pretende eliminar este inquerito?</h3>
<hr />
<div >
    <input type="hidden" asp-for="QuestionsID" />
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <a asp-action="Index" class="btn btn-more">
                <i class="fa fa-arrow-left">
                </i>Voltar

            </a>
            <input type="submit" value="Eliminar" class="btn btn-more" style="font-size:20px" /> 
      
        </div>
    </form>
</div>
<div id="fillbackground">
    </div>
