@model Trabalho.Models.Questions

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar Inquerito</h2>
<h3>Tem a certeza que pretende eliminar este inquerito?</h3>
<hr />
<div>
    <input type="hidden" asp-for="QuestionsID" />
    <dl class="dl-horizontal">
        <dt>
            <h5>Pergunta</h5>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QuestionsToClient)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
