@model Ty_DiViewModel

@{
    ViewData["Title"] = "ViewDieasesYesOrNo";
}


<h2>ViewDieasesYesOrNo</h2>

<h2> A pergunta e sobre doencas? </h2>

<div>
    <a asp-area="" asp-action="Create">Nao</a>
</div>

<div>
    <a asp-area=""  asp-action="CreateDis">Sim</a>
</div>
