@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Trabalho</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/style.css" />

        <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
        <meta property="og:title" content="">
        <meta property="og:image" content="">
        <meta property="og:url" content="">
        <meta property="og:site_name" content="">
        <meta property="og:description" content="">

        <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="">
        <meta name="twitter:title" content="">
        <meta name="twitter:description" content="">
        <meta name="twitter:image" content="">

        <!-- Fav and touch icons -->
        <link rel="shortcut icon" href="img/icons/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/icons/114x114.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/icons/72x72.png">
        <link rel="apple-touch-icon-precomposed" href="img/icons/default.png">
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900" rel="stylesheet">

        <!-- Bootstrap CSS File -->
        <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Libraries CSS Files -->
        <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="lib/owlcarousel/owl.carousel.min.css" rel="stylesheet">
        <link href="lib/owlcarousel/owl.theme.min.css" rel="stylesheet">
        <link href="lib/owlcarousel/owl.transitions.min.css" rel="stylesheet">

        <!--Your custom colour override - predefined colours are: colour-blue.css, colour-green.css, colour-lavander.css, orange is default-->
        <link href="#" id="colour-scheme" rel="stylesheet">
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/style.css" />

        <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
        <meta property="og:title" content="">
        <meta property="og:image" content="">
        <meta property="og:url" content="">
        <meta property="og:site_name" content="">
        <meta property="og:description" content="">

        <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="">
        <meta name="twitter:title" content="">
        <meta name="twitter:description" content="">
        <meta name="twitter:image" content="">

        <!-- Fav and touch icons -->
        <link rel="shortcut icon" href="img/icons/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/icons/114x114.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/icons/72x72.png">
        <link rel="apple-touch-icon-precomposed" href="img/icons/default.png">
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900" rel="stylesheet">

        <!-- Bootstrap CSS File -->
        <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Libraries CSS Files -->
        <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="lib/owlcarousel/owl.carousel.min.css" rel="stylesheet">
        <link href="lib/owlcarousel/owl.theme.min.css" rel="stylesheet">
        <link href="lib/owlcarousel/owl.transitions.min.css" rel="stylesheet">

        <!--Your custom colour override - predefined colours are: colour-blue.css, colour-green.css, colour-lavander.css, orange is default-->
        <link href="#" id="colour-scheme" rel="stylesheet">
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <div id="background-wrapper" class="buildings" data-stellar-background-ratio="0.1" style="background-position: 0% 0%;">
        <!-- ======== Region: #navigation ======== -->
        <div id="navigation" class="wrapper">
            <!--Header & navbar-branding region-->
            <div class="header">
                <div class="header-inner container">
                    <div class="row">
                        <div class="col-md-8">
                            <!--navbar-branding/logo - hidden image tag & site name so things like Facebook to pick up, actual logo set via CSS for flexibility -->
                            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="index" >
                                <h1 class="hidden">
                                    <img src="img/logo.png" alt="">
                                    Logo IPG
                                </h1>
                            </a>
                            <div class="navbar-slogan">
                                Projecto E.S.2 e P.I.
                                <br> By IPG
                            </div>
                        </div>
                        <!--header rightside-->
                        <div class="col-md-4">
                            <!--user menu-->
                            <ul class="list-inline user-menu pull-right">
                                <li class="hidden-xs"><i class="fa fa-edit text-primary"></i> <a asp-area="" asp-controller="Home" asp-action="register">Register</a></li>
                                <li class="hidden-xs"><i class="fa fa-sign-in text-primary"></i> <a asp-area="" asp-controller="Home" asp-action="login">Login</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="navbar navbar-default">
                    <!--mobile collapse menu button-->
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    <!--everything within this div is collapsed on mobile-->
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav" id="main-menu">
                            <li class="icon-link">
                                <a  asp-area="" asp-controller="Home" asp-action="index"><i class="fa fa-home"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Threads<b class="caret"></b></a>
                                <!-- Dropdown Menu -->
                                <ul class="dropdown-menu">
                                    <li class="dropdown-header">Flexor Version Pages</li>
                                    <li><a href="elements.html" tabindex="-1" class="menu-item">Elements</a></li>
                                    <li><a href="about.html" tabindex="-1" class="menu-item">About / Inner Page</a></li>
                                    <li><a asp-area="" asp-controller="Home" asp-action="login">Login</a></li>
                                    <li><a asp-area="" asp-controller="Home" asp-action="register">Register</a></li>
                                    <li class="dropdown-footer">Dropdown footer</li>
                                </ul>
                            </li>

                            <li class="dropdown dropdown-mm">
                                <a asp-area="" asp-controller="Home" asp-action="Surveys" class="dropdown-toggle" data-toggle="dropdown">Surveys<b class="caret"></b></a>
            
                                <!-- Dropdown Menu -->
                                <ul class="dropdown-menu dropdown-menu-mm dropdown-menu-persist">
                                    <li class="row">
                                        <ul class="col-md-6">
                                            <li class="dropdown-header">Websites and Apps</li>
                                            <li><a href="#">Analysis and Planning</a></li>
                                            <li><a href="#">User Experience / Information Architecture</a></li>
                                            <li><a href="#">User Interface Design / UI Design</a></li>
                                            <li><a href="#">Code &amp; Development / Implementation &amp; Support</a></li>
                                        </ul>
                                        <ul class="col-md-6">
                                            <li class="dropdown-header">Enterprise solutions</li>
                                            <li><a href="#">Business Analysis</a></li>
                                            <li><a href="#">Custom UX Consulting</a></li>
                                            <li><a href="#">Quality Assurance</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-footer">
                                        <div class="row">
                                            <div class="col-md-7">Like the lite version? <strong>Get the extended version of Flexor.</strong></div>
                                            <div class="col-md-5">
                                                <a href="https://bootstrapmade.com" class="btn btn-more btn-lg pull-right"><i class="fa fa-cloud-download"></i> Get It Now</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                        </ul>
                    </div>
                    <!--/.navbar-collapse -->
                </div>
            </div>
        </div>
        <div class="hero" id="highlighted">
            <div class="inner">
               
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - Trabalho de Engenharia de Software 2 e Programação para a Internet feito por André Pedro, João Freire, Luis Soares</p>
        </footer>
    </div>
 <!--
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)-->
</body>
</html>
