@{
    ViewData["Title"] = "About";
}

<h1>About</h1>

<ul>
    <li><h3>In this work we will manage the surveys;</h3></li>
    <li><h3>We will make the customer profile page;</h3> </li>
    <li><h3>Advise the customer on the rails best suited to their physical condition.</h3> </li>

</ul>