@{
    ViewData["Title"] = "About";
}

<h2>@ViewData["Title"].</h2>
<!-- <h3>ViewData["Message"]</h3> -->




<p>Neste trabalho iremos fazer o gerenciamento dos inqueritos; </p>
<p>Iremos fazer a pagina perfil dos cliente; </p>
<p>Aconselhar o cliente os trilhos mais indicados para a sua condição fisica. </p>
