@{
    ViewData["Title"] = "conditions";
}

<h1>Termos e Condições ("Termos")</h1>

<p>Última atualização: 10 de novembro de 2017</p>

<p>Leia atentamente estes Termos e Condições ("Termos", "Termos e Condições") antes de usar o site http://www.Trilhos.ipg.pt/ .</p>
<p>O seu acesso e uso do Serviço está condicionado à sua aceitação e conformidade com estes Termos. Estes Termos aplicam-se a todos os visitantes, utilizadores e outras pessoas que acessam ou usam o Serviço.</p>
<p>Ao acessar ou usar o Serviço, você concorda em ficar vinculado por estes Termos. Se você não concordar com qualquer parte dos termos, então você não pode acessar o Serviço. <a href="https://termsfeed.com/terms-conditions/"> Termos e Condições criados por TermsFeed </a> para Trilhos. </p>

<h2>Contas</h2>
<p>Quando você cria uma conta, você deve nos fornecer informações precisas, completas e atuais em todos os momentos. A falta de tal constitui uma violação dos Termos, o que pode resultar em rescisão imediata da sua conta em nosso Serviço.</p>
<p>Você é responsável por proteger a senha que você usa para acessar o Serviço e para quaisquer atividades ou ações sob sua senha, seja sua senha com nosso Serviço ou um serviço de terceiros.</p>
<p>Você concorda em não divulgar sua senha a terceiros. Você deve nos notificar imediatamente após ter conhecimento de qualquer violação de segurança ou uso não autorizado da sua conta.</p>

<h2>Links para outros sites da Web</h2>
<p>Nosso Serviço pode conter links para sites ou serviços de terceiros que não são de propriedade ou controlados pelos Trilhos</p>
<p>Os trilhos não tem controlo e não assume nenhuma responsabilidade pelo conteúdo, políticas de privacidade ou práticas de sites ou serviços de terceiros. Você também reconhece e concorda que os Trilhos não serão responsáveis, direta ou indiretamente, por qualquer dano ou perda causada ou alegadamente causada ou relacionada ao uso ou dependência de tal conteúdo, bens ou serviços disponíveis em ou através de tais sites ou serviços.</p>
<p>Recomendamos que leia os termos e condições e as políticas de privacidade de quaisquer sites ou serviços de terceiros que você visita.</p>

<h2>Rescisão</h2>
<p>Podemos encerrar ou suspender o acesso ao nosso Serviço imediatamente, sem aviso prévio ou responsabilidade, por qualquer motivo, incluindo, sem limitação, se você violar os Termos.</p>
<p>Todas as disposições dos Termos que por sua natureza devem sobreviver à rescisão devem sobreviver à rescisão, incluindo, sem limitação, provisões de propriedade, indenizações de garantia, indenização e limitações de responsabilidade.</p>
<p>Após a rescisão, seu direito de usar o Serviço deixará imediatamente de ser possivel. Se você deseja encerrar sua conta, você pode simplesmente interromper o uso do Serviço.</p>

<h2>Lei Governamental</h2>
<p>Estes Termos serão regidos e interpretados de acordo com as leis de Portugal, independentemente das suas disposições de conflito de leis.</p>
<p>Nossa falha em fazer valer qualquer direito ou disposição desses Termos não será considerada uma renúncia a esses direitos. Se qualquer disposição destes Termos for considerada inválida ou inexequível por um tribunal, as restantes disposições destes Termos permanecerão em vigor. Estes Termos constituem o acordo completo entre nós em relação ao nosso Serviço, e substituem quaisquer acordos anteriores que possamos ter entre nós sobre o Serviço.</p>

<h2>Mudanças</h2>
<p>Reservamo-nos o direito, a nosso exclusivo critério, de modificar ou substituir estes Termos a qualquer momento. Se uma revisão for material, tentaremos fornecer um aviso de pelo menos 15 dias antes de qualquer novo termo entrar em vigor. O que constitui uma mudança material será determinado a nosso exclusivo critério.</p>
<p>Ao continuar a acessar ou usar o nosso Serviço após essas revisões entrarem em vigor, você concorda em ficar vinculado pelos termos revisados. Se você não concorda com os novos termos, pare de usar o Serviço.</p>

<h2>Contacte-nos</h2>
<p>Se você tiver alguma dúvida sobre estes Termos, entre em contato conosco.</p>