@model Trabalho.Models.ViewModels.SurveysListViewModels

@{
    ViewData["Title"] = "SurveysList";
}


<h2>Surveys List</h2>

@foreach (Survey p in Model.Survey)
{
    <div>
        <h3>@p.Question</h3>
        <input id="Button1" type="button" value="Edit" />
    </div>
    <hr />
}<input id="Button1" type="button" value="New" />

