@model IEnumerable<SurveysResponse>

@{
    ViewData["Title"] = "SurveysList";
}

<h2>SurveysList</h2>

@if (Model.Count() == 0)
{
    <p>
        U dont have any surveys...
    </p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Birthday</th>
                <th>Weight</th>
                <th>Height</th>
                <th>Diseases</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var r in Model)
            {
                <tr>
                    <td>@r.Birthday</td>
                    <td>@r.Weight</td>
                    <td>@r.Height</td>
                    <td>
                    @r.Diseases
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<hr />