@model Trabalho.Models.Client

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Client</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="ClientName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ClientName" class="form-control" />
                <span asp-validation-for="ClientName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Genre" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Genre" class="form-control" />
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Birthday" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Birthday" class="form-control" />
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NIF" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="NIF" class="form-control" />
                <span asp-validation-for="NIF" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Emergency_Contact" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Emergency_Contact" class="form-control" />
                <span asp-validation-for="Emergency_Contact" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ClientState" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ClientState" class="form-control" />
                <span asp-validation-for="ClientState" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Type_ClientID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Type_ClientID" class ="form-control" asp-items="ViewBag.Type_ClientID"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
