@model Trabalho.Models.ApplicationUser


@{
    ViewData["Title"] = "Delete";
}


<h2>Eliminar Utilizador</h2>
<h3>Tem a certeza que pretende eliminar este utilizador?</h3>
<hr />
<div>
    <input type="hidden" asp-for="Id" />
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <a asp-action="Index" class="btn btn-more">
                <i class="fa fa-arrow-left">
                </i>Voltar

            </a>
            <input type="submit" value="Eliminar" class="btn btn-more" style="font-size:20px" />


        </div>
    </form>
</div>
<div id="fillbackground">
</div>