
@{
    ViewData["Title"] = "SureView";
}

<h2>SureView</h2>

<h2>Tem a certeza que pretende continuar? </h2>

<div>
    <a asp-area="" asp-controller="Diseases" asp-action="Create">Nao</a>
</div>

<div>
    <a asp-area="" asp-controller="Que_Dis" asp-action="Index">Sim</a>
</div>
