@model Trabalho.Models.Survey

@{
    ViewData["Title"] = "Create";
}

<div class="alert alert-info">
    <h1 class="block-title text-left-lg">Create Survey</h1>
</div> 

<form asp-action="Create">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="alert alert-warning">
            <div class="form-group">
                <label class="col-md-2 control-label">Question</label>
                <div class="col-md-10">
                    <input asp-for="Question" class="form-control" />
                    <span asp-validation-for="Question" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-lg btn-default" />
                </div>
            </div>
            </div>
        </div>
</form>

<div>
    <a asp-action="Index" class="btn btn-lg btn-primary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
