@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h2>Registo</h2>
<h4>Aqui começa a sua jornada Registe-se!</h4>
<hr />
<form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="TuristName" class="col-md-2 control-label">Nome</label>
        <div class="col-md-10">
            <input asp-for="TuristName" class="form-control" />
            <span asp-validation-for="TuristName" class="text-danger"></span>
        </div>
    </div>
    <hr />
    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <hr />
    <div class="form-group">
        <label asp-for="Phone" class="col-md-2 control-label">Telemovel</label>
        <div class="col-md-10">
            <input asp-for="Phone" class="form-control" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
    </div>
    <hr />
    <div class="form-group">
        <label asp-for="Birthday" class="col-md-2 control-label">Data de Nascimento</label>
        <div class="col-md-10">
            <input asp-for="Birthday" class="form-control" />
            <span asp-validation-for="Birthday" class="text-danger"></span>
        </div>
     </div>
    <hr />
    <div class="form-group">
        <label asp-for="NIF" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="NIF" class="form-control" />
            <span asp-validation-for="NIF" class="text-danger"></span>
        </div>
    </div>
    <hr/>
    <div class="form-group">
        <label asp-for="Genre" class="col-md-2 control-label">Genero</label>
        <div class="col-md-10">
        <select asp-for="Genre" class="form-control" name="Genre">
            <option value="">Selecione o seu genero</option>
            <option value="Masculino">Masculino</option>
            <option value="Feminino">Feminino</option>
        </select>
        </div>
    </div>
    <hr />
    <div class="form-group">
        <label asp-for="EmergencyContact" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="EmergencyContact" class="form-control" />
            <span asp-validation-for="EmergencyContact" class="text-danger"></span>
        </div>
    </div>
    <hr />
    <div class="form-group">
        <label asp-for="Password" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <hr />
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <hr />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Register</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
